#display{width:80%;margin:20px auto 0;border:15px solid #000;border-bottom:30px solid #222;border-top:25px solid #222;padding-bottom:20px;background:#eee}
#display h1{color:#ddd;font-size:220px;line-height:1;opacity:0.5}
#display2{background:#000;width:10%;margin:0 auto;height:60px}
#display3{background:#000;width:40%;margin:0 auto;height:10px}